.myWorkMainDiv{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
}
.livePreviewBgColor{
     text-decoration: none;
     color: #fff;
     background-color: black;
     padding: 10px 20px;
     font-size: 20px;
     border-radius: 20px;
     border: 5px solid #20C997;
}

.singleWorkFirst{
     transition: .5s;
}
.singleWorkFirst:hover{
     transform: scale(1.1);
     transition: .5s;
}



@media only screen and (max-width: 688px) {
     .singleWorkFirst{
          width: 360px;
     }
     .myWorkMainDiv{
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 10px;
     }
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
     .singleWorkFirst{
          width: 370px;
     }
     .myWorkMainDiv{
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 15px;
     }
}