.myWorkMainDiv{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-gap: 25px;
}
.singleWorkFirst{
     transition: .5s;
}
.singleWorkFirst:hover{
     transform: scale(1.1);
     transition: .5s;
}


@media only screen and (max-width: 688px) {
     .singleWorkFirst{
          width: 360px;
     }
     .myWorkMainDiv{
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 20px;
     }
}

@media only screen and (min-width: 689px) and (max-width: 991px) {
     .singleWorkFirst{
          width: 370px;
     }
     .myWorkMainDiv{
          display: grid;
          grid-template-columns: repeat(1, 1fr);
          grid-gap: 20px;
     }
}